html,
body {
  margin: 0;
  padding: 0;
}

#canvasContainer {
  overflow: hidden;
  height: 100vh;
  #renderCanvas {
    height: 100%;
    width: 100vw;
  }
}

@import './quasar.variables.scss';

.container {
  margin: 0 auto;
  @media screen and (max-width: $breakpoint-xl-max) {
    width: 1100px;
  }
  @media screen and (max-width: $breakpoint-md-max) {
    width: 960px;
  }
  @media screen and (max-width: $breakpoint-sm-max) {
    width: 90%;
  }
  width: 1300px;
  min-width: 600px;
}

.absolute-spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.slide-enter-active,
.slide-leave-active {
  transition: all 0.3s ease-in-out;
}
.slide-enter,
.slide-leave-to {
  transform: translateX(30px);
  opacity: 0;
}

.top-right-dialog {
  .q-dialog__inner {
    bottom: auto;
    left: auto;
  }

  .q-dialog__backdrop {
    display: none;
  }
}

